@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700;&display=swap");
@import url("https://fonts.googleapis.com/css2?family=GT+Pressure+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;700&display=swap");
@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));


@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {  
    --font-desc: "Inter", "GT Pressure Mono", "sans-serif"; 
    --font-head: "Oswald", "League Gothic", "sans-serif"; 
    --color-fadedblack: #100B0F;
    --color-dominoivory: #E5DDCB;}