@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-desc: "Inter", "GT Pressure Mono", "sans-serif";
  --font-head: "League Gothic", "Oswald", "sans-serif";
  --color-fadedblack: #100b0f;
  --color-dominoivory: #e5ddcb;
  --color-bloodrust: #8c4a3a;
  --color-burnedorange: #c86e4b;
  --color-dirtygold: #b89f65;
  --color-sicklyteal: #6f8b85;
  --color-deepslate: #3a4a5f;
  --color-dustyplum: #5e4a5a;
  --color-errorred: #a63a3a;
  --color-staticgray: #7a7a7a;
  --color-overexposed: #f0e7d1;
}
